 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       >
			
	<bean class="org.bsk.Test" id="t">
	
		<property name="driver">
		<util:properties location="classpath:driver.properties"></util:properties>
		</property>
		</bean>
		</beans>
		
		
		
		
	<!--	
		
		<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans> 
		
			
			
			<bean class="org.bsk.Test" id="t">
			
				<property name="driver">
				
				<props>
					<prop key="driverClass">oracle.jdbc.OracleDriver</prop>
					<prop key="URL"> oracle url</prop>
					<prop key="userName">System</prop>
					<prop key="password">Password</prop>
				
				</props>
				</property>
				
			</bean>
			
			</beans>
			
			-->	