

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
			<beans>
			
			<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
			<bean class="org.bsk.Engine" id="e1" >
			<property name="modelYear" value="2016"></property>
			</bean>
			
			<bean class="org.bsk.Engine" id="e2">
			<property name="modelYear" value="2017"></property>
			</bean>
			
			<bean class="org.bsk.Car" id="c">
		
			</bean>
			
			
			
			</beans>