<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
			<beans>
			
			<bean class="beans.A" id="a" depends-on="b"></bean>
			<bean class="beans.B" id="b" depends-on="c"></bean>
			<bean class="beans.C" id="c" ></bean>
		
			
			</beans>